<!doctype html>
    <html>
        <head>
            <title>About CalorieBuddy</title>
        </head>
        <!-- R1A: Display a link to the home page or a navigation bar that contains links to other pages. -->
         <div class="topnav">
            <a href="/topic7/mid-term/">Home</a>
            <a href="/topic7/mid-term/about">About</a>
            <a href="/topic7/mid-term/addFood">Add Food</a>
            <a href="/topic7/mid-term/listFood">Food List</a>
            <a href="/topic7/mid-term/searchFood">Search Foods</a>
            <a href="/topic7/mid-term/updateFood">Update Foods</a>
        </div>
        <body>
            <!-- R1A: Display information about the web application including your name as the developer. -->
            <h1> About CalorieBuddy </h1>
            <p> Welcome to CalorieBuddy. A simple webb app devolped by me, Brandon Godbold. Use this app to keep track of your calories.<br>
            If you enjoy this app, please do not clap, but show your appreciation by throwing money in my general direciton.<br>
            Once again this app was devolped by me, Brandon Godbold, holder of the Guiness Book of world Records records <br>
            for the world's largest Air Guitar collection.
            </p>

            <h1> How to use this app</h1>
            <h2> Searching Food </h2>
            <p> First go to the Search Food tab to look for the food you are intersted in. 
            Follow the prompts and fill in the appropriate fields. <a href="/topic7/mid-term/searchFood">Click Here to Search</a> </p>
            <h2> See a list of all foods in our databse. </h2>
            <p>To see the full list of foods currently in our databse click the Food List tab at the top of the navigation bar. <a href="/topic7/mid-term/listFood">Food List</a>  </p>
            <h2> Adding Food to the databse </h2>
            <p> Simple click on the Add Food tab and fill in the form with the appropriate information. <a href="/topic7/mid-term/addFood">Click here to Add Food</a>  </p>
            <h2> Deleting Food from the databse </h2>
            <p> Simple click on the Update Food tab search the food you would like to delete and select " Delete". <a href="/topic7/mid-term/addFood">Click here to Add Food</a>  </p>
        </body>
    </html>