<!doctype html>
    <html>
        <head> <!-- R1A: Displays Name of application -->
            <title>CalorieBuddy Homepage</title>
        </head>

        <!-- R1B: Display links to other pages -->
        <div class="topnav">
            <a href="/topic7/mid-term/">Home</a>
            <a href="/topic7/mid-term/about">About</a>
            <a href="/topic7/mid-term/addFood">Add Food</a>
            <a href="/topic7/mid-term/listFood">Food List</a>
            <a href="/topic7/mid-term/searchFood">Search Foods</a>
            <a href="/topic7/mid-term/updateFood">Update Foods</a>
        </div>
        <body>
            <!-- R1A: Displays Name of application -->
            <h1> Welcome to CalorieBuddy! </h1>
            <p> A simple webb app to help you keep track of your calories.<br>
             Knowing is half the battle, and we provide you with the knowlegde you need to succedd!<br>
             Choose Search foods to search our databse for a given food, or Add Food to add a new food.<br>
             Choose Update Foods if you would like to delete a food from our database!
             
            </p>
        </body>
    </html>