<!doctype html>
<html>
 <head>
    <title>Update Food</title>
 </head>
  <div class="topnav">
            <a href="/topic7/mid-term/">Home</a>
            <a href="/topic7/mid-term/about">About</a>
            <a href="/topic7/mid-term/addFood">Add Food</a>
            <a href="/topic7/mid-term/listFood">Food List</a>
            <a href="/topic7/mid-term/searchFood">Search Foods</a>
            <a href="/topic7/mid-term/updateFood">Update Foods</a>
 </div>
 <body>
    <h1> This is the Update Food page </h1>
        <p>Enter a food title or keyword to search, then select delte to delete it.</p>
        <form action="/topic7/mid-term/search-result-db" method="GET">
            <input id="search-box" type="text" name="keyword" value="Default">
            <input type="submit" value="Submit" >
        </form>
 </body>
</htm